    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="a conspiracy for the laity">
    <meta name="twitter:image" content="https://artlessdevices.com/twitter.png">
    <meta name="twitter:site" content="@artlessdevices">
    <meta name="og:type" content="website">
    <meta name="og:description" content="a conspiracy for the laity">
    <meta name="og:image" content="https://artlessdevices.com/twitter.png">
    <meta name="og:site" content="Artless Devices Blog">
